/*Give the padding and setting for the body part*/
body {
  background:lightgrey;
}
/* give navbar a format*/
.navbar {
  background-color:white;
  font-size:15px;
  max-height: height 60px;
}

/* Edit "lattitude" in navbar*/
.navigation .navbar-brand{
  color: white;
  margin-left: 30px;
  padding:inherit;
  font-weight: bold;
  background-color: #0bada6;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Set the background color when mouse go over link*/
.active, .dropdown-menu .dropdown-item:active a:hover{
  background-color: rgb(180, 190, 201);
}
.nav-link:hover{
  background-color:rgb(180, 190, 201);
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background:rgb(180, 190, 201)
}

.dropdown-item{
  color: #6D8092
}

/* add border over active image*/

.active, .panel:hover{
  border-color:#0BADA6;
  border-style: solid; 
  
}
/*set the size of vizualization part*/

.vizualization{
  width:50% !important;
  height:50% !important;
}

/*title set */
.title{
  color: #0BADA6;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder; 
  padding-top: 25px; 
}
/* paragraph set */
p{
color: #6D8092;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px; 
}

/*content part set*/
.box {
  margin-top: 60px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  color:black;
  background-color: white; 
}


/* Table */
  .table{
    font-size: 15px; 
    border-top-color: white;
  }
/*footer setting*/
/* Footer */
footer{
background-color: #666666; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: #0BADA6;
color: white; 
min-height: 35px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: relative;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}

@media(max-width: 800px){
.navbar-expand-lg{
background-color: lightseagreen;
}
}